
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

backup.sql
/movie_lists/
/server/res/posters
/server/res/hd_posters
/server/movr_tests
/server/__pycache__/
/server/util/__pycache__/